exportPattern("^[^.][[:alpha:]]+")
import(xtable)
import(ggplot2)
import(scales)
import(utils)
importFrom("grDevices", "dev.off", "jpeg", "postscript")
importFrom("graphics", "lines", "plot")
importFrom("stats", "aggregate", "lowess", "na.omit", "quantile","reorder")
importFrom("fs","is_absolute_path")
importFrom("digest", "digest")
importFrom("brew", "brew")
importFrom("reshape2", "dcast")
importFrom("uaparserjs", "ua_parse")
importFrom("data.table", "fread")
