config.projectName="Client/Project"
config.documentName="Subproject/Issue"

config.useragent.generateFrequencies=FALSE
config.generateDiagnosticPlots=FALSE
#
extractFile<-function()
{
  workdir = paste0(tempdir(),"/minconfigtemp")
  unlink(workdir)
  dir.create(paste0(tempdir(),"/minconfigtemp"))
  logfile = paste0(workdir,"/log.log")
  fileConn = gzfile(system.file("extdata", "compressed.log", package = "WebAnalytics"))
  writeLines(readLines(fileConn),con=logfile)
  close(fileConn)
  return(workdir)
}

config.current.dataDir=extractFile()
config.current.dirNames=c(".")
config.current.columnList=logFileFieldsGetIIS(logFileNamesGetLast(dataDirectory=config.current.dataDir,directoryNames=config.current.dirNames)[[1]])
#
