config.projectName="Client/Project"
config.documentName="Subproject/Issue"

config.useragent.generateFrequencies=FALSE
config.generateDiagnosticPlots=FALSE
config.generateServerSessionStats=TRUE
config.generatePercentileRankings = TRUE
config.readBaseline=TRUE
#
extractFile<-function()
{
  workdir = paste0(tempdir(),"/minconfigtemp")
  unlink(workdir)
  dir.create(paste0(tempdir(),"/minconfigtemp"))
  logfile = paste0(workdir,"/log.log")
  fileConn = gzfile(system.file("extdata", "compressed.log", package = "WebAnalytics"))
  writeLines(readLines(fileConn),con=logfile)
  close(fileConn)
  message(workdir)
  return(workdir)
}

config.fix.data<-function(b) {
  b$serverid = "A001"
  b$jsessionid = "session001"
  return(b)
}

config.current.dataDir=extractFile()
config.current.dirNames=c(".")
config.current.columnList=logFileFieldsGetIIS(logFileNamesGetLast(dataDirectory=config.current.dataDir,directoryNames=config.current.dirNames)[[1]])
config.baseline.dataDir=extractFile()
config.baseline.dirNames=c(".")
config.baseline.columnList=logFileFieldsGetIIS(logFileNamesGetLast(dataDirectory=config.current.dataDir,directoryNames=config.current.dirNames)[[1]])
#
